<%= form_with model: [:admin, @content], local: true do |f| %>
  <%= render "shared/form_errors", object: @content %>
  <div class="tile">
    <div class="tile is-parent is-vertical is-4">
      <div class="tile is-child">
        <h1 class="title is-3 font-is-akzidenz-bold red-text">Select Placement</h1>
      </div>
      <div class="tile is-child">
        <% grouped_home_contents.each do |content| %>
          <div class="columns">
            <%= generate_layout_column(content: content.first) %>
            <%= generate_layout_column(content: content.second) if content.second %>
          </div>
          <% if last = content.last %>
            <div class="columns">
              <%= generate_layout_column(content: content.last)%>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="tile is-parent is-vertical">
        <h1 class="title is-3 font-is-akzidenz-bold red-text" id="form_header"></h1>
      <div class="field">
        <div class="control">
          <%= f.text_field :name, class: "input has-no-top-side-border is-shadowless is-radiusless is-paddingless", placeholder: "Title" %>
        </div>
      </div>
      <div class="control">
        <%= f.hidden_field :groupable_type, value: "Category" %>
        <label class="label">Select Category</label>
        <div class="select">
          <%= f.select :groupable_id, options_for_select(categories.collect {|c| [c.name, c.id]}, @content.groupable_id) %>
        </div>
      </div>
      <br>
      <div class="control">
        <label class="label">Type</label>
        <div class="select">
          <%= f.select :availability, options_for_select(available_hours.collect {|c| c.name }, @content.availability) %>
        </div>
      </div>
      <br>
      <div class="field">
        <div class="control">
          <%= f.button "Custom Placement Order", class: "save-btn white-text has-195px-width button is-info", id: "custom_order_btn" %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input name="sequence" type="number" class="input has-no-top-side-border is-shadowless is-radiusless is-paddingless is-invisible" placeholder="Placement Position" id="sequence_input" required>
        </div>
      </div>
      <br>
      <div class="field">
        <div class="control">
          <%= f.submit "SAVE", class: "save-btn white-text has-195px-width button red-background is-invisible", id: "submit_btn" %>
        </div>
      </div>
    </div>
    <div class="tile is-parent is-vertical">
      <div class="tile is-child">
        <div class="field">
          <div class="columns">
            <div class="column">
              <%= image_tag @content.image_source_app&.url, data: { container: "image" }, class: "app-image" %>
              <%= f.file_field :image_source_app, id: "app_photo", data: { image: "layout" }, class: "is-invisible has-10-vw" %>
            </div>
            <div class="column">
              <div class="control">
                <label class="label button has-10-vw has-yellow-bg" for="app_photo" id="uploader-label">
                  <%= photo_upload_label_for(photo_is_present: @content.image_source_app.present?) %>
                </label>
                <p class="is-size-7 has-text-grey">recommended mobile size:</p>
                <p class="is-size-7 has-text-grey">165x200px small image</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-child">
        <div class="field">
            <%= image_tag @content.image_source_web&.url, data: { container: "image" }, class: "web-image" %>
            <%= f.file_field :image_source_web, id: "web_photo", data: { image: "layout" }, class: "is-invisible"%>
        <div class="control">
          <div class="level">
            <div class="level-left">
              <div class="level-item">
          <p class="is-size-7 has-text-grey">300x200px long image</p>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <label class="label button has-10-vw has-yellow-bg" for="web_photo" id="uploader-label">
                  <%= photo_upload_label_for(photo_is_present: @content.image_source_app.present?) %>
                </label>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
