<div class="tile is-vertical wrapper__content__list is-white-bg">
  <div class="wrapper__content__list__header">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <figure class="image is-32x32">
            <%= image_tag "coupon.png" %>
          </figure>
        </div>
        <div class="level-item">
          <h1 class="title is-3 has-margin-left-30">Edit Home Content</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper__content__list__form">
    <%= render "form" %>
  </div>
</div>
<script>
  function updateLayout () {
    $("[data-id=<%= @content.sequence_id %>]").removeClass("has-3-opacity")
    var header = $("#form_header")
    $(header).html("Panel" + " " + "<%= @content.sequence_id %>" )
  }
  if(typeof jQuery=='undefined') {
    updateLayout()
  } else {
    setTimeout(updateLayout(), 1000)
  }
</script>
