<% @variances.each do |variance| %>
  <tr>
    <td>
      <div class="tile">
        <figure class="image is-64x64">
          <%= image_tag variance.image_source.url, alt: "" %>
        </figure>
      </div>
    </td>
    <td><%= variance.menu_name %></td>
    <td><%= variance.menu_name %></td>
    <td><%= variance.poscode %></td>
    <td><%= variance.code_name %></td>
    <td>
      <div class="tile is-vertical">
        <%= link_to edit_admin_variance_path(variance), class: "edit-btn is-size-7" do %>
          <span class="icon is-small">
            <%= fa_icon "edit", class: "has-light-green-text" %>
          </span>
          EDIT
        <% end %>
        <%= link_to admin_variance_path(variance), class: "delete-btn is-size-7", method: :delete do %>
          <span class="icon is-small">
            <%= fa_icon "trash", class: "red-text" %>
          </span>
          DELETE
        <% end %>
      </div>
    </td>
  </tr>
<% end %>
