<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li>
      <a href="<%= "#{admin_branches_path}##{@delivery_number.branch.area.name}" %>">
        <%= @delivery_number.branch.area.name %>
      </a>
    </li>
    <li>
      <a href="<%= "#{admin_branches_path}##{@delivery_number.branch.name}" %>">
        <%= @delivery_number.branch.name %>
      </a>
    </li>
    <li class="is-active"><a href="#" aria-current="page"><%= @delivery_number.id %></a></li>
  </ul>
</nav>
<h3 class="title is-3"><%= @delivery_number.branch.name %></h3>
<%= form_for [:admin, @delivery_number] do |form| %>
  <div class="field">
    <label class="label">Number</label>
    <div class="control">
      <%= form.text_field :number, class: "input", placeholder: "Delivery number" %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button class="button is-primary">Submit</button>
    </div>
  </div>
<% end %>
