<%= form_with model: [:admin, @notification], local: true do |f| %>
  <%= render "shared/form_errors", object: @notification %>
  <div class="tile">
    <div class="tile is-parent is-vertical">
      <div class="field">
        <div class="control">
          <%= f.text_field :title, class: "input has-no-top-side-border is-shadowless is-radiusless is-paddingless", placeholder: "Title" %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.text_field :short_description, class: "input has-no-top-side-border is-shadowless is-radiusless is-paddingless", placeholder: "Short Description" %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.text_field :description, class: "input has-no-top-side-border is-shadowless is-radiusless is-paddingless", placeholder: "Description" %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <div class="select">
            <%= f.select :category, options_for_select(notification_categories.collect{ |k,v| [v, k] }, @notification.category), include_blank: "Select Category" %>
          </div>
        </div>
      </div>
      <br>
      <div class="field">
        <div class="control">
          <%= f.submit "SAVE", class: "save-btn white-text has-195px-width button red-background" %>
        </div>
      </div>
      </div>
      <div class="tile is-parent has-margin-left-30">
        <div class="field">
          <figure class="image is-4by3">
            <%= image_tag "#{@notification.image_source&.url}", data: { container: "image" } %>
          </figure>
          <br>
          <div class="control">
            <label class="label button has-yellow-bg" for="photo" id="uploader-label">
              <%= photo_upload_label_for(photo_is_present: @notification.image_source.present?) %>
            </label>
            <p class="is-size-7 has-text-grey">Please upload a square image, preferrably 2000x2000</p>
            <%= f.file_field :image_source, id: "photo", data: { uploader: "" }, class: "is-invisible"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
