<div class="tile is-vertical wrapper__content__list is-white-bg">
  <div class="wrapper__content__list__header">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <figure class="image is-32x32">
            <%= image_tag "coupon.png" %>
          </figure>
        </div>
        <div class="level-item has-margin-left-15">
          <h1 class="title is-3 is-black-text has-font-akzidenz-bold">CMS</h1>
        </div>
        <div class="level-item">
          <%= render "shared/admin/cms_menu" %>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <%= link_to new_admin_notification_path, class: "button save-btn red-background", id: "csm-btn" do %>
            <span class="icon is-small">
              <%= fa_icon "plus", class: "white-text" %>
            </span>
            <span class="white-text font-is-akzidenz-ce-bold">CREATE NOTIFICATION</span>
          <% end%>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper__content__list__items-table">
    <table class="table is-bordered is-fullwidth is-marginless">
      <thead>
        <tr>
          <th class="is-borderless is-size-6 font-is-akzidenz-regular with-20px-top-bottom-padding">Photo</th>
          <th class="is-borderless is-size-6 font-is-akzidenz-regular with-20px-top-bottom-padding">Title</th>
          <th class="is-borderless is-size-6 font-is-akzidenz-regular with-20px-top-bottom-padding">Operations</th>
        </tr>
      </thead>
      <tbody id="paginationList">
        <%= render "notification_lists" %>
      </tbody>
    </table>
    <div class="tile with-25px-top-bottom-padding">
      <div class="tile is-parent is-5">
        <div class="tile is-child" id="paginator">
          <%= paginate @notifications, remote: true  %>
        </div>
      </div>
    </div>
  </div>
</div>
