<%= form_with model: [:admin, @user_manual], local: true do |f| %>
  <%= render "shared/form_errors", object: @user_manual %>
  <div class="tile">
    <div class="tile is-parent is-vertical is-6">
      <div class="field">
        <div class="control">
          <%= f.text_field :description, class: "input has-no-top-side-border is-shadowless is-radiusless is-paddingless", placeholder: "Description" %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.number_field :sequence, class: "input has-no-top-side-border
          is-shadowless is-radiusless is-paddingless", placeholder: "Order", required: true %>
        </div>
      </div>
      <br>
      <div class="tile is-child is-8">
        <div class="field">
          <figure class="image is-4by3">
            <%= image_tag "#{@user_manual.image_source&.url}", data: { container: "image" } %>
          </figure>
          <br>
          <div class="control">
            <label class="label button has-yellow-bg" for="photo" id="uploader-label">
              <%= photo_upload_label_for(photo_is_present: @user_manual.image_source.present?) %>
            </label>
            <p class="is-size-7 has-text-grey">Please upload a square image, preferrably 1020x565</p>
            <%= f.file_field :image_source, id: "photo", data: { uploader: "" }, class: "is-invisible"%>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.submit "SAVE", class: "save-btn white-text has-195px-width button red-background" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
