<% @user_manuals.each do |manual| %>
  <tr>
    <td><%= manual.sequence_id %></td>
    <td><%= manual.description %></td>
    <td>
      <div class="tile is-vertical">
        <%= link_to edit_admin_user_manual_path(manual), class: "edit-btn is-size-7" do %>
          <span class="icon is-small">
            <%= fa_icon "edit", class: "has-light-green-text" %>
          </span>
          EDIT
        <% end %>
        <%= link_to admin_user_manual_path(manual), class: "delete-btn is-size-7", method: :delete do %>
          <span class="icon is-small">
            <%= fa_icon "trash", class: "red-text" %>
          </span>
          DELETE
        <% end %>
      </div>
    </td>
  </tr>
<% end %>
