<div class="nested-fields">
  <div class="field">
    <div class="control">
      <%= f.hidden_field :section_id, value: fetch_section(type: "best_with")&.id %>
    </div>
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <div class="control">
            <div class="select">
              <%= f.select :choice_id, options_for_select(fetch_meal_options_by(type: "best_with").collect{ |a| [a.name, a.id] }), include_blank: "Select Best With" %>
            </div>
          </div>
        </div>
        <div class="level-item">
          <%= link_to_remove_association "Remove Best With", f, class: "button is-text" %>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
