<div class="nested-fields">
  <div class="field">
    <div class="control">
      <%= f.hidden_field :section_id, value: fetch_section(type: "fries")&.id %>
    </div>
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <div class="control">
            <div class="select">
              <%= select_tag :size, options_for_select(meal_options_sizes.collect{ |k, v| [v, k] }, (f.object&.meal_option&.size || "small")), data: { select: "size", type: "fries" }  %>
            </div>
          </div>
        </div>
        <div class="level-item">
          <div class="control">
            <div class="select">
              <%= f.select :choice_id, options_for_select(
                fetch_meal_options_by(type: "fries", size: (f.object&.meal_option&.size || "small"))
                .collect{ |a| [a.name, a.id] }), include_blank: "Select Fries" %>
            </div>
          </div>
        </div>
        <div class="level-item">
          <%= link_to_remove_association "Remove Fries", f, class: "button is-text" %>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
