<%= form_with model: [:admin, @news], local: true do |f| %>
  <%= render "shared/form_errors", object: @news %>
  <div class="field">
    <label class="label">Title</label>
    <div class="control">
      <%= f.text_field :title %>
    </div>
  </div>
  <div class="field">
    <label class="label">Description</label>
    <div class="control">
      <%= f.text_area :description %>
    </div>
  </div>
  <div class="field">
    <label class="label">Start Date</label>
    <div class="control">
      <%= f.date_field :start_date, min: Date.today %>
    </div>
  </div>
  <div class="field">
    <label class="label">Image</label>
    <div class="control">
      <%= f.file_field :image_source %>
    </div>
  </div>
  <div class="field">
    <label class="label">Category</label>
    <div class="control">
      <%= f.select :category, @categories.map { |k, v| [k.humanize, k]} %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= f.submit %>
    </div>
  </div>

<% end %>
