<h1 class="title is-1">What's New</h1>
<%= link_to "Create news", new_admin_news_path %>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Image</th>
      <th>Title</th>
      <th>Start Date</th>
      <th>Description</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @news.each do |news| %>
      <tr>
        <td><%= news.id %></td>
        <td>
          <figure class="image is-64x64">
            <%= image_tag news.image_source, alt: "" %>
          </figure>
        </td>
        <td><%= link_to news.title, admin_news_path(news.id) %></td>
        <td><%= news.start_date %></td>
        <td><%= news.description %></td>
        <td>
          <div class="field">
            <input id='<%= "switch_#{news.id}" %>' type="checkbox" name="switchRoundedSuccess" class="switch is-rounded is-success" data-link-url="<%= admin_news_path(news.id) %>" onchange="toggleStatusDisplay(this)" <%= "checked" if news.displayed_at.present? %>>
            <label for='<%= "switch_#{news.id}" %>'></label>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
