<div class="row">
  <h1 class="title is-1"><%= @news.title %></h1>
</div>
<div class="row">
  <p>Description: <%= @news.description %></p>
</div>
<div class="row">
  <p>Date: <%= @news.start_date %></p>
</div>
<div class="row">
  <figure class="image is-128x128">
    <%= image_tag @news.image_source, alt: "" %>
  </figure>
</div>
<div class="row">
  <p>Category: <%= @news.category.humanize %></p>
</div>
<%= link_to "Edit", edit_admin_news_path %> <br>
<%= link_to "Delete", admin_news_path(@news), method: :delete %>
