<article class="wrapper__content__list__items__tile
  wrapper__content__list__items__tile--white-bg
  wrapper__content__list__items__tile--coupons">
  <div class="level wrapper__content__list__items__tile__content
    wrapper__content__list__items__tile__content--header
    wrapper__content__list__items__tile__content--header--light-gray-bg
    is-marginless">
    <div class="level-left">
      <div class="level-item">
        <figure class="image is-32x32">
          <%= image_tag("coupon.png") %>
        </figure>
      </div>
      <div class="level-item">
        <h3 class="title is-4 is-black-text font-is-akzidenz-bold">COUPONS</h3>
      </div>
    </div>
    <div class="level-rigth">
      <div class="level-item">
        <div class="level-item">
          <%= link_to "VIEW ALL", admin_coupons_path, class: "is-black-text is-size-7" %>
        </div>
      </div>
    </div>
  </div>
  <div class="level is-marginless wrapper__content__list__items__tile__content
    wrapper__content__list__items__tile__content--coupons">
    <div class="wrapper__content__list__items__tile__content__coupons">
      <% @coupons.each do |coupon| %>
        <div style="background-image:url(<%= coupon.image_source.url %>)"
          class="wrapper__content__list__items__tile__content__coupons__image-container">
        </div>
      <% end %>
    </div>
  </div>
</article>
