<article class="wrapper__content__list__items__tile
  wrapper__content__list__items__tile--white-bg">
  <div class="level wrapper__content__list__items__tile__content
    wrapper__content__list__items__tile__content--header
    is-marginless">
    <div class="level-left">
      <div class="level-item">
        <figure class="image is-32x32">
          <%= image_tag("user.png") %>
        </figure>
      </div>
      <div class="level-item">
        <h3 class="title is-3 font-is-akzidenz-bold">DAILY REGISTRATIONS</h3>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <%= fa_icon "square", class: "has-7px-margin-right is-black-text" %>
        <h3 class="subtitle is-7 font-is-akzidenz-roman">Android</h3>
      </div>
      <div class="level-item">
        <%= fa_icon "square", class: "has-7px-margin-right yellow-text" %>
        <h3 class="subtitle is-7 font-is-akzidenz-roman">IOS</h3>
      </div>
      <div class="level-item">
        <%= fa_icon "square", class: "has-7px-margin-right red-text" %>
        <h3 class="subtitle is-7 font-is-akzidenz-roman">Web</h3>
      </div>
    </div>
  </div>
  <%= daily_registrations_chart %>
</article>
