<article class="wrapper__content__list__items__tile
  wrapper__content__list__items__tile--orders
  wrapper__content__list__items__tile--white-bg">
  <div class="level wrapper__content__list__items__tile__content
    wrapper__content__list__items__tile__content--header
    wrapper__content__list__items__tile__content--header--light-gray-bg
    is-marginless">
    <div class="level-left">
      <div class="level-item">
        <figure class="image is-32x32">
          <%= image_tag("store.png") %>
        </figure>
      </div>
      <div class="level-item">
        <h3 class="title is-3 font-is-akzidenz-bold">Orders</h3>
      </div>
      <div class="level-item">
        <h3 class="subtitle is-3 red-text font-is-akzidenz-bold">
          <%= @orders_count %>
        </h3>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <div>
          <p class="subtitle is-7 is-black-text font-is-akzidenz-bold has-text-right">
            NEW
          </p>
          <p class="is-size-7 is-black-text">
            as of <%= current_date %>
          </p>
        </div>
      </div>
      <div class="level-item">
        <h3 class="subtitle is-1 red-text font-is-akzidenz-bold">
          <%= @orders_today.count %>
        </h3>
      </div>
    </div>
  </div>
  <div class="columns is-marginless has-20px-left-right-padding">
    <div class="column is-paddingless has-text-left">
      <h5 class="is-size-7 font-is-akzidenz-ce-bold has-20px-margin-top">Order ID</h5>
    </div>
    <div class="column is-paddingless has-text-centered">
      <h5 class="is-size-7 font-is-akzidenz-ce-bold has-20px-margin-top">Date And Time</h5>
    </div>
    <div class="column is-paddingless has-text-right">
      <h5 class="is-size-7 font-is-akzidenz-ce-bold has-20px-margin-top">Reference #</h5>
    </div>
  </div>
  <% @displayed_orders_today.limit(5).each do |order| %>
    <div class="columns flex-items-vertical-center is-marginless wrapper__content__list__items__tile__content
      wrapper__content__list__items__tile__content--with-bottom-border has-70px-height">
      <div class="column is-paddingless has-text-left">
        <p class="font-is-akidenz-expert-reg is-marginless
          wrapper__content__list__items__tile__content__product__name">
          <%= order.order_id %>
        </p>
      </div>
      <div class="column is-paddingless has-text-centered">
        <h3 class="is-size-7">
          <%= complete_date_time_short(date: order.created_at) %>
        </h3>
      </div>
      <div class="column is-paddingless has-text-right">
        <h3 class="is-size-7">
          <%= order.reference_number %>
        </h3>
      </div>
    </div>
  <% end%>
</article>
