<article class="wrapper__content__list__items__tile
  wrapper__content__list__items__tile--white-bg">
  <div class="level wrapper__content__list__items__tile__content
    wrapper__content__list__items__tile__content--header
    wrapper__content__list__items__tile__content--header--light-gray-bg
    is-marginless">
    <div class="level-left">
      <div class="level-item">
        <figure class="image is-32x32">
          <%= image_tag("user.png") %>
        </figure>
      </div>
      <div class="level-item">
        <h3 class="title is-3 font-is-akzidenz-bold">Meals</h3>
      </div>
      <div class="level-item">
        <h3 class="subtitle is-3 red-text font-is-akzidenz-bold">
          <%= @meals.count %>
        </h3>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <div>
          <p class="subtitle is-7 is-black-text font-is-akzidenz-bold has-text-right">
            NEW
          </p>
          <p class="is-size-7 is-black-text">
            as of <%= current_date %>
          </p>
        </div>
      </div>
      <div class="level-item">
        <h3 class="subtitle is-1 red-text font-is-akzidenz-bold">
          <%= current_day_new_variances.count %>
        </h3>
      </div>
    </div>
  </div>
  <div class="level is-marginless">
    <div></div>
    <div class="level-right">
      <div class="level-item">
        <h5 class="is-size-7 font-is-akzidenz-ce-bold with-top-right-margin-date">Date Added</h5>
      </div>
    </div>
  </div>
  <% @meals.limit(5).each do |meal| %>
    <div class="columns flex-items-vertical-center is-marginless wrapper__content__list__items__tile__content
      wrapper__content__list__items__tile__content--with-bottom-border">
      <div class="column is-2 is-paddingless
        wrapper__content__list__items__tile__content__product">
        <figure class="image is-48x48">
          <%= image_tag meal.image_source.url %>
        </figure>
      </div>
      <div class="column is-paddingless is-two-fifths-desktop is-half-widescreen is-three-fifths-fullhd">
        <p class="is-size-6 font-is-akidenz-expert-reg
          wrapper__content__list__items__tile__content__product__name">
          <%= meal.name %>
        </p>
      </div>
      <div class="column is-4 is-paddingless">
        <h3 class="is-size-7">
          <%= complete_date_time_short(date: meal.created_at) %>
        </h3>
      </div>
    </div>
  <% end%>
</article>
