<article class="wrapper__content__list__items__tile
  wrapper__content__list__items__tile--white-bg">
  <div class="level wrapper__content__list__items__tile__content
    wrapper__content__list__items__tile__content--header
    is-marginless">
    <div class="level-left">
      <div class="level-item">
        <figure class="image is-32x32">
          <%= image_tag("store.png") %>
        </figure>
      </div>
      <div class="level-item">
        <h3 class="title is-3 font-is-akzidenz-bold">DAILY ORDERS</h3>
      </div>
    </div>
  </div>
  <%= area_chart orders_count, height: "500px", width: "100%", colors: [ "#B20000"] %>
</article>
