<article
  class="wrapper__content__list__items__tile
  wrapper__content__list__items__tile--white-bg">
  <div
    class="level wrapper__content__list__items__tile__content
    wrapper__content__list__items__tile__content--header
    wrapper__content__list__items__tile__content--header--light-gray-bg
    is-marginless">
    <div class="level-left">
      <div class="level-item">
        <figure class="image is-32x32">
          <%= image_tag("user.png") %>
        </figure>
      </div>
      <div class="level-item">
        <h3 class="title is-3 font-is-akzidenz-bold">USERS</h3>
      </div>
      <div class="level-item">
        <h3 class="subtitle is-3 red-text font-is-akzidenz-bold">
          <%= @users.count %>
        </h3>
      </div>
    </div>
    <div class="level-rigth">
      <div class="level-item">
        <p class="is-size-7 is-black-text">
          as of <%= current_date %>
        </p>
      </div>
    </div>
  </div>
  <div class="level is-marginless
    wrapper__content__list__items__tile__content
    wrapper__content__list__items__tile__content--with-bottom-border
    wrapper__content__list__items__tile__content--users">
    <div class="level-left">
      <h3 class="level-item subtitle is-3 is-black-text font-is-akzidenz-bold">New this Month</h3>
    </div>
    <div class="level-right">
      <h3 class="level-item title is-1 red-text font-is-akzidenz-bold">
        <%= new_users_count_this_month %>
      </h3>
    </div>
  </div>
  <div class="level is-marginless
    wrapper__content__list__items__tile__content
    wrapper__content__list__items__tile__content--with-bottom-border
    wrapper__content__list__items__tile__content--users">
    <div class="level-left">
      <h3 class="level-item subtitle is-3 is-black-text font-is-akzidenz-bold">New today</h3>
    </div>
    <div class="level-right">
      <h3 class="level-item title is-1 red-text font-is-akzidenz-bold">
        <%= new_users_count_today %>
      </h3>
    </div>
  </div>
</article>
