<div class="wrapper__content__list">
  <div class="wrapper__content__list__items wrapper__content__list__items--with-specific-width">
    <%= render "users" %>
    <%= render "coupons" %>
  </div>
  <div class="wrapper__content__list__items">
    <%= render "meals" %>
    <%= render "orders_chart" %>
  </div>
  <div class="wrapper__content__list__items">
    <%= render "daily_orders" %>
    <%= render "daily_registrations" %>
  </div>
</div>
<% content_for :head do %>
  <!-- https://github.com/ankane/chartkick/issues/347 -->
  <%= javascript_include_tag 'application', 'Chart.bundle', 'chartkick', 'data-turbolinks-track': 'reload' %>
<% end %>
