<h1 class="title is-1">Orders</h1>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Ordered By</th>
      <th>Order</th>
      <th>Total</th>
      <th>Contact Number</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <td>id</td>
    <td>Genin Uchiha</td>
    <td>Burger</td>
    <td>P 123.00</td>
    <td>09175629573</td>
    <td>Pasig, City</td>
  </tbody>
</table>
