<% unless flash.count.zero? %>
  <div class="container">
    <br>
    <% if flash[:notice].present? %>
      <article class="message is-success">
        <div class="message-body">
          <%= flash[:notice] %>
        </div>
      </article>
    <% end %>

    <% if flash[:alert].present? %>
      <article class="message is-danger">
        <div class="message-body">
          <%= flash[:alert] %>
        </div>
      </article>
    <% end %>
  </div>
<% end %>
