<% if object.errors.any? %>
  <article class="message is-danger">
    <div class="message-body">
      <ul class="menu-list">
        <% object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </article>
<% end %>
