<%= form_with model: [:admin, @promo], local: true do |f| %>
  <%= render "shared/form_errors", object: @promo %>
  <div class="tile">
    <div class="tile is-parent is-vertical">
      <div class="field">
        <div class="control">
          <%= f.text_field :name, class: "input has-no-top-side-border is-shadowless is-radiusless is-paddingless", placeholder: "Promo" %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="label">Category</label>
        </div>
        <div class="control">
          <div class="select">
            <%= f.select :category, options_for_select(promo_categories.collect{ |k, v| [v, k] }) %>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.text_field :link, class: "input has-no-top-side-border is-shadowless is-radiusless is-paddingless", placeholder: "Order Now Link" %>
        </div>
      </div>
      <br>
      <div class="field">
        <div class="control">
          <%= f.text_field :tags, class: "input has-no-top-side-border is-shadowless is-radiusless is-paddingless", placeholder: "Tags", data: { input: "tag" } %>
        </div>
      </div>
      <br>
      <div class="field">
        <input id="isActive" type="checkbox" name="promo[is_active]" class="switch is-rtl is-rounded is-success" <%= "checked" if @promo.is_active %> data-checkbox="switch">
        <label for="isActive">Active</label>
      </div>
      <br>
      <div class="field">
        <input id="isPublish" type="checkbox" name="promo[is_published]" class="switch is-rtl is-rounded is-success" <%= "checked" if @promo.is_published %> data-checkbox="switch">
        <label for="isPublish">Publish</label>
      </div>
      <br>
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <div class="control">
              <label class="label">From</label>
              <%= f.text_field :validity_start_at, data: { toggle: "datepicker" }, class: "input has-no-top-side-border is-shadowless is-radiusless is-paddingless", placeholder: "Date" %>
            </div>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <div class="control">
              <label class="label">To</label>
              <%= f.text_field :validity_end_at, data: { toggle: "datepicker" }, class: "input has-no-top-side-border is-shadowless is-radiusless is-paddingless", placeholder: "Date" %>
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.submit "SAVE", class: "save-btn white-text has-195px-width button red-background" %>
        </div>
      </div>
    </div>
      <div class="tile is-parent has-margin-left-30">
        <div class="field">
          <figure class="image is-4by3">
            <%= image_tag "#{@promo.image_source&.url}", data: { container: "image" } %>
          </figure>
          <br>
          <div class="control">
            <label class="label button has-yellow-bg" for="photo" id="uploader-label">
              <%= photo_upload_label_for(photo_is_present: @promo.image_source.present?) %>
            </label>
            <p class="is-size-7 has-text-grey">Please upload a square image, preferrably 2000x2000</p>
            <%= f.file_field :image_source, id: "photo", data: { uploader: "" }, class: "is-invisible"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
