<nav class="navbar nav-set-height is-light-gray-bg">
  <div class="container is-fluid">
    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <%= tabs_tag builder: MenuTabBuilder, open_tabs: { class: "navbar-start" } do |tab| %>
        <%= tab.home "Home Page", "", class: "navbar-item font-is-akzidenz-regular has-gray-text", nav_for: "meals" %>
        <%= tab.notification "Notifications", admin_notifications_path, class: "navbar-item font-is-akzidenz-regular has-gray-text", nav_for: "meals" %>
        <%= tab.thank_you "Thank You Page", admin_meal_options_path(meal_type: "Extra"), class: "navbar-item font-is-akzidenz-regular has-gray-text", nav_for: "meals" %>
        <%= tab.promo "Promos", admin_promos_path, class: "navbar-item font-is-akzidenz-regular has-gray-text", nav_for: "meals" %>
        <%= tab.navigation "Navigation", "", class: "navbar-item font-is-akzidenz-regular has-gray-text", nav_for: "meals" %>
        <%= tab.category "Category", "", class: "navbar-item font-is-akzidenz-regular has-gray-text", nav_for: "meals" %>
      <% end %>
    </div>
  </div>
</nav>
