<% @branches.each do |branch| %>
  <tr>
    <td><%= branch.name %></td>
    <td><%= branch.address %></td>
    <td>
      <% branch.delivery_numbers.each do |number| %>
        <p><%= number.number %></p>
      <% end %>
    </td>
    <td class="has-350px-width">
      <% grouped_offerings(offerings: branch.offerings).to_a.each do |offer| %>
        <div class="tile has-text-centered has-5px-padding">
          <div class="tile is-parent is-paddingless">
            <% for i in offer do %>
              <%= generate_branch_offering_item(item: i) %>
            <% end %>
          </div>
        </div>
      <% end %>
    </td>
    <td>
      <div class="tile is-vertical">
        <%= link_to edit_admin_branch_path(branch), class: "edit-btn is-size-7" do %>
        <span class="icon">
          <%= fa_icon "edit", class: "has-light-green-text" %>
        </span>
        EDIT
      <% end%>
      <%= link_to admin_branch_path(branch), class: "delete-btn is-size-7", method: :delete do %>
        <span class="icon">
          <%= fa_icon "trash", class: "red-text" %>
        </span>
        DELETE
      <% end %>
    </div>
    </td>
  </tr>
<% end %>
