<%= form_with model: [:admin, @branch], local: true do |f| %>
  <%= render "shared/form_errors", object: @branch %>
  <div class="tile">
    <div class="tile is-parent is-vertical">
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <%= f.text_field :name, class: "input has-no-top-side-border is-shadowless is-radiusless is-paddingless", placeholder: "Name", required: true %>
        </div>
      </div>
      <div class="field">
        <label class="label">Delivery Number/s</label>
        <div class="control">
          <%= f.fields_for :delivery_numbers do |delivery_number| %>
            <%= render "delivery_number_fields", f: delivery_number %>
          <% end %>
          <div class="links">
            <%= link_to_add_association "Add Number", f, :delivery_numbers, class: "button is-text" %>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Branch Offering Filters</label>
        <% branch_offerings.each do |offering| %>
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" name="offerings[]" value="<%= offering %>" <%= "checked" if @branch.offerings&.split(";")&.include?(offering) %>>
              <%= offering %>
            </label>
          </div>
        <% end %>
      </div>
      <br>
      <div class="field">
        <div class="control">
          <%= f.submit "SAVE", class: "save-btn white-text has-195px-width button red-background" %>
        </div>
      </div>
    </div>
    <div class="tile is-parent has-margin-left-30 is-vertical">
      <label class="label">Address</label>
      <div class="control">
        <%= f.text_field :address, class: "input has-no-top-side-border is-shadowless is-radiusless is-paddingless", placeholder: "Address", id: "address", data: { lat: @branch.lat, lng: @branch.lng }, required: true %>
      </div>
      <br>
      <label class="label">Map Pin</label>
      <div id="map"></div>
    </div>
  </div>
<% end %>
<%= javascript_include_async_tag("googlemap", "data-turbolinks-track" => true) %>
