<div class="tile is-vertical wrapper__content__list is-white-bg">
  <div class="wrapper__content__list__header">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <figure class="image is-32x32">
            <%= image_tag "store.png" %>
          </figure>
        </div>
        <div class="level-item has-margin-left-15">
          <h1 class="title is-3 is-black-text has-font-akzidenz-bold">Stores</h1>
        </div>
      </div>
      <div class="level-right">
        <%= form_with url: admin_branches_path, method: :get, remote: true do |f| %>
          <div class="field has-addons">
            <div class="control has-icons-left">
              <%= f.text_field :search, class: "input", placeholder: "Search", data: { trigger: "search" } %>
              <span class="icon is-small is-left">
                <%= fa_icon("search", class: "has-text-grey-light") %>
              </span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="wrapper__content__list__items-table">
    <table class="table is-bordered is-fullwidth">
      <thead>
        <tr>
          <th class="is-borderless is-size-6 font-is-akzidenz-regular">Branch Name</th>
          <th class="is-borderless is-size-6 font-is-akzidenz-regular">Address</th>
          <th class="is-borderless is-size-6 font-is-akzidenz-regular">Contact Numbers</th>
          <th class="is-borderless is-size-6 font-is-akzidenz-regular">Branch Offering Filters</th>
          <th class="is-borderless is-size-6 font-is-akzidenz-regular">Operation</th>
        </tr>
      </thead>
      <tbody id="paginationList">
        <%= render "branch_lists" %>
      </tbody>
    </table>
    <table class="table is-fullwidth">
      <tbody>
        <tr>
          <td colspan="4" id="paginator" class="column">
            <%= paginate @branches, remote: true  %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
