<nav class="navbar nav-set-height is-light-gray-bg">
  <div class="container is-fluid">
    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <%= tabs_tag namespace: :with_items, builder: MenuTabBuilder, open_tabs: { class: "navbar-start" } do |tab| %>
        <% meal_options_classifications.each do |k, v|  %>
          <%= tab.send(k, v, admin_meal_options_path(meal_type: k), class: "navbar-item font-is-akzidenz-regular has-gray-text", nav_for: "meals") %>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>
