<%= form_with model: [:admin, @meal_option], local: true do |f| %>
  <%= render "shared/form_errors", object: @meal_option %>
  <div class="tile">
    <div class="tile is-parent is-vertical">
      <div class="field">
        <div class="control">
          <%= f.text_field :name, class: "input has-no-top-side-border is-shadowless is-radiusless is-paddingless", placeholder: "Name" %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.text_field :long_name, class: "input has-no-top-side-border is-shadowless is-radiusless is-paddingless", placeholder: "Long Name" %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.text_field :code_name, class: "input has-no-top-side-border is-shadowless is-radiusless is-paddingless", placeholder: "Code Name" %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.text_field :poscode, class: "input has-no-top-side-border is-shadowless is-radiusless is-paddingless", placeholder: "POS Code" %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.number_field :price, class: "input has-no-top-side-border is-shadowless is-radiusless is-paddingless", placeholder: "Price" %>
        </div>
      </div>
      <div class="field">
        <br>
        <div class="control">
          <div class="control">
            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  <label class="label">Classification</label>
                </div>
                <div class="level">
                  <div class="select">
                    <%= f.select :classification, options_for_select(meal_options_classifications.collect{|_k, v| [v, v]}, @meal_option.classification&.titleize), {}, data: { select: "classification" } %>
                  </div>
                </div>
              </div>
              <div class="level-left <%= 'is-invisible' unless @meal_option&.drink? || @meal_option&.fries? || @meal_option&.special_fries? %>" id="size-selection-container">
                <div class="level-item">
                  <label class="label">Size</label>
                </div>
                <div class="level">
                  <div class="select">
                    <%= f.select :size, options_for_select(meal_options_sizes, @meal_option.size&.titleize) %>
                  </div>
                </div>
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.submit "SAVE", class: "save-btn white-text has-195px-width button red-background" %>
        </div>
      </div>
      </div>
      <div class="tile is-parent has-margin-left-30">
        <div class="field">
          <figure class="image is-4by3">
            <%= image_tag @meal_option.image_source.url, data: { container: "image" } %>
          </figure>
          <br>
          <div class="control">
            <label class="label button has-yellow-bg" for="photo" id="uploader-label">
              <%= photo_upload_label_for(photo_is_present: @meal_option.image_source.present?) %>
            </label>
            <p class="is-size-7 has-text-grey">Please upload a square image, preferrably 2000x2000</p>
            <%= f.file_field :image_source, id: "photo", data: { uploader: "" }, class: "is-invisible"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
