<% @meal_options.each do |meal_option| %>
  <tr>
    <td><%= meal_option.name %></td>
    <td><%= meal_option.poscode %></td>
    <td><%= meal_option.code_name %></td>
    <td>
      <div class="tile is-vertical">
        <%= link_to edit_admin_meal_option_path(meal_option), class: "edit-btn is-size-7" do %>
          <span class="icon is-small">
            <%= fa_icon "edit", class: "has-light-green-text" %>
          </span>
          EDIT
        <% end %>
        <%= link_to admin_meal_option_path(meal_option), class: "delete-btn is-size-7", method: :delete do %>
          <span class="icon is-small">
            <%= fa_icon "trash", class: "red-text" %>
          </span>
          DELETE
        <% end %>
      </div>
    </td>
  </tr>
<% end %>
