@font-face {
  font-family: 'Akzidenz Grotesk Bq Condensed Bold';
  src: asset-url('Akzidenz-Grotesk-BQ-Condensed-Bold.otf')format('truetype');
}

@font-face {
  font-family: 'Akzidenz Grotesk Bq Regular';
  src: asset-url('Akzidenz-Grotesk-BQ-Regular.otf')format('truetype');
}

@font-face {
  font-family: 'Akzidenz Grotesk Expert Bq Regular';
  src: asset-url('Akzidenz-Grotesk-Expert-BQ-Regular.otf')format('truetype');
}

@font-face {
  font-family: 'Akzidenz Grotesk CE Bold';
  src: asset-url('Akzidenz-Grotesk-CE-Bold.ttf')format('truetype');
}

@font-face {
  font-family: 'Akzidenz Grotesk Roman';
  src: asset-url('Akzidenz-Grotesk-Roman.ttf')format('truetype');
}

.font-is-akzidenz-bold,
%font-is-akzidenz-bold { font-family: 'Akzidenz Grotesk Bq Condensed Bold'; }

.font-is-akzidenz-regular,
%font-is-akzidenz-regular { font-family: 'Akzidenz Grotesk Bq Regular'; }

.font-is-akzidenz-roman,
%font-is-akzidenz-roman { font-family: 'Akzidenz Grotesk Roman'; }

.font-is-akzidenz-expert-reg,
%font-is-akzidenz-expert-reg { font-family: 'Akzidenz Grotesk Expert Bq
Regular'; }

.font-is-akzidenz-ce-bold,
%font-is-akzidenz-ce-bold { font-family: 'Akzidenz Grotesk CE Bold'; }
