@mixin background-style($size: cover, $position: center center, $repeat:no-repeat, $img: "") {
  background-size: $size;
  background-position: $position;
  background-repeat: $repeat;
  background-image: asset-url($img);
}
