// scss-lint:disable ImportantRule
// Set modifiers as `!important` to Override Bulma default style
// which also set to `!important`

// Flex Mofifiers
.flex-items-vertical-center { align-items: center; }

// Background
.red-background { background-color: $default-red; }

.is-black-bg { background-color: $default-black; }

.is-white-bg,
%is-white-bg { background-color: $default-white; }

.has-yellow-bg { background-color: $default-yellow; }

.is-light-gray-bg,
%is-light-gray-bg { background-color: $default-light-gray; }

.has-3-opacity { opacity: .3; }

// Text
.yellow-text { color: $default-yellow; }

.white-text,
%white-text { color: $default-white; }

.red-text,
%red-text { color: $default-red; }

.is-black-text,
%is-black-text { color: $default-black; }

.has-light-green-text,
%has-light-green-text { color: $default-light-green; }

.has-gray-text,
%has-gray-text { color: $default-gray; }

.has-light-gray-text { color: $default-light-gray; }

// Button

.edit-btn {
  @extend %has-light-green-text;
  margin-bottom: .5rem;

  &:hover { @extend %has-light-green-text; }
}

.delete-btn {
  @extend %red-text;
  &:hover { @extend %red-text; }
}

.save-btn {
  @extend %white-text;
  &:hover { @extend %white-text; }
}

// Viewports
.is-15 { width: 15vw; }

.is-40 { width: 40vw; }

.stretch { width: 86vw; }

.has-30vw-width { width: 30vw; }

.has-350px-width { width: 350px; }

.has-100px-height { height: 100px; }

.has-70px-height { height: 70px; }

.has-10-vw { width: 10vw; }

.has-100-percent-height { height: 100%; }

// Global
.has-margin-left-15 { margin-left: 15px; }

.has-margin-left-30 { margin-left: 30px; }

.is-borderless { border: 0 !important; }

.has-no-top-side-border {
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.has-195px-width { width: 195px; }

.with-20px-top-bottom-padding {
  padding-bottom: 20px !important;
  padding-top: 20px !important;
}

.with-25px-top-bottom-padding {
  padding-bottom: 25px;
  padding-top: 25px;
}

.with-top-right-margin-date {
  margin-right: 25px;
  margin-top: 20px;
}

.with-20px-padding { padding: 20px; }

.has-30px-border-radius { border-radius: 30px; }

.has-5px-padding { padding: 5px; }

.has-7px-margin-right { margin-right: 7px; }

.has-20px-left-right-padding { padding: 0 20px; }

.has-20px-margin-top { margin-top: 20px; }
