<% content_for :title, "Log in" %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <div class="control">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input is-large", placeholder: 'Email' %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.password_field :password, autocomplete: "off", class: 'input is-large', placeholder: 'Password' %>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.label :remember_me, class: 'checkbox' %>
      <%= f.check_box :remember_me %>
    </div>
  <% end -%>

  <div class="field">
    <div class="control">
      <%= f.submit "Log in", class: 'button is-block is-info is-large' %>
    </div>
  </div>
<% end %>
