<nav class="navbar nav-set-height is-light-gray-bg">
  <div class="container is-fluid">
    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <%= tabs_tag namespace: :menu_entries, builder: MenuTabBuilder, open_tabs: { class: "navbar-start" } do |tab| %>
        <%= tab.mcsaver "Standard", admin_value_meals_path(category: "mcsaver"), class: "navbar-item font-is-akzidenz-regular has-gray-text", nav_for: "meals" %>
        <%= tab.mcshare "McShare Box", admin_value_meals_path(category: "mcshare"), class: "navbar-item font-is-akzidenz-regular has-gray-text", nav_for: "meals" %>
        <%= tab.happy_meal "Happy Meal", admin_value_meals_path(category: "happy_meal"), class: "navbar-item font-is-akzidenz-regular has-gray-text", nav_for: "meals" %>
        <%= tab.fries_and_float "Combos", admin_value_meals_path(category: "fries_and_float"), class: "navbar-item font-is-akzidenz-regular has-gray-text", nav_for: "meals" %>
        <%= tab.add_ons "Add ons", admin_value_meals_path(category: "add_ons"), class: "navbar-item font-is-akzidenz-regular has-gray-text", nav_for: "meals" %>
        <%= tab.extra_value_meal "Meal w/ Float", admin_value_meals_path(category: "extra_value_meal"), class: "navbar-item font-is-akzidenz-regular has-gray-text", nav_for: "meals" %>
      <% end %>
    </div>
  </div>
</nav>
