<% @value_meals.each do |value_meal| %>
  <tr>
    <td>
      <figure class="image is-64x64">
        <%= image_tag value_meal.image_source, alt: "" %>
      </figure>
    </td>
    <td><%= value_meal.name %></td>
    <td><%= generate_status(active: value_meal.active_at) %></td>
    <td><%= value_meal.availability %></td>
    <td>
      <div class="tile is-vertical">
        <%= link_to edit_admin_value_meal_path(value_meal), class: "edit-btn is-size-7" do %>
          <span class="icon is-small">
            <%= fa_icon "edit", class: "has-light-green-text" %>
          </span>
          EDIT
        <% end %>
        <div class="field">
          <input id='<%= "switch_#{value_meal.id}" %>' type="checkbox" name="switchRoundedSuccess" class="switch is-rounded is-success" data-link-url="<%= admin_update_value_meal_status_path(value_meal.id) %>" onchange="updateMealStatus(this)" <%= "checked" if value_meal.active_at %>>
          <label for='<%= "switch_#{value_meal.id}" %>', class='<%= value_meal.active_at ? "has-light-green-text" : "red-text" %>', id: "switch_status">
            <%= generate_status(active: value_meal.active_at) %>
          </label>
        </div>
        <div class="field">
          <input id='<%= "switch_featured_#{value_meal.id}" %>' type="checkbox"
          name="switchRoundedSuccess" class="switch is-rounded is-success"
          data-featured-url="<%= set_meal_as_featured_admin_product_path(value_meal.id, type: "ValueMeal") %>"
          data-unfeatured-url="<%= set_meal_as_unfeatured_admin_product_path(value_meal.id, type: "ValueMeal") %>"
          data-featured="meal" <%= "checked" if value_meal.featured_meal %>>
          <label for='<%= "switch_featured_#{value_meal.id}" %>',
            class='<%= value_meal.featured_meal ? "has-light-green-text" : "red-text" %>', id: "switch_featured">
            Featured
          </label>
        </div>
      </div>
    </td>
  </tr>
<% end %>
