<div class="nested-fields">
  <div class="tile">
    <div class="tile is-parent is-vertical">
      <div class="field">
        <div class="control">
          <%= f.text_field :menu_name, class: "input has-no-top-side-border is-shadowless is-radiusless is-paddingless", placeholder: "Menu Name" %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.text_field :name, class: "input has-no-top-side-border is-shadowless is-radiusless is-paddingless", placeholder: "Name" %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.text_field :price, class: "input has-no-top-side-border is-shadowless is-radiusless is-paddingless", placeholder: "Price" %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.text_field :poscode, class: "input has-no-top-side-border is-shadowless is-radiusless is-paddingless", placeholder: "POS code" %>
        </div>
      </div>
    </div>
    <div class="tile is-parent has-margin-left-30">
      <div class="field">
        <figure class="image is-4by3">
          <%= image_tag f.object.image_source.url, data: { container: "image" } %>
          <%= f.file_field :image_source, id: "variance_photo", data: { image: "layout" }, class: "is-invisible"%>
        </figure>
        <br>
        <div class="control">
          <label class="label button has-yellow-bg" for="variance_photo" id="uploader-label">
            <%= photo_upload_label_for(photo_is_present: f.object.image_source.present?) %>
          </label>
          <p class="is-size-7 has-text-grey">Please upload a square image, preferrably 2000x2000</p>
        </div>
      </div>
    </div>
  </div>
  <div class="level is-marginless is-light-gray-bg with-20px-padding">
    <div class="level-left">
      <div class="level-item">
        <h3 class="subtitle is-4 font-is-akzidenz-bold">With Items</h3>
      </div>
    </div>
  </div>
  <div class="tile">
    <div class="tile is-parent is-vertical">
      <div class="tile is-child">
        <h3 class="subtitle is-4 red-text font-is-akzidenz-bold">Drinks</h3>
      </div>
      <div class="tile is-child">
        <div class="field">
          <div class="control">
            <%= f.fields_for :options do |option| %>
              <%= render "admin/value_meals/options/drinks", f: option if option.object&.meal_option&.drink? %>
            <% end %>
            <div class="links">
              <%= link_to_add_association "Add Drinks", f, :options, partial: "admin/value_meals/options/drinks", class: "buttton is-text" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tile">
    <div class="tile is-parent is-vertical">
      <div class="tile is-child">
        <h3 class="subtitle is-4 red-text font-is-akzidenz-bold">Fries</h3>
      </div>
      <div class="tile is-child">
        <div class="field">
          <div class="control">
            <%= f.fields_for :options do |option| %>
              <%= render "admin/value_meals/options/fries", f: option if option.object&.meal_option&.fries? %>
            <% end %>
            <div class="links">
              <%= link_to_add_association "Add Fries", f, :options, partial: "admin/value_meals/options/fries", class: "buttton is-text" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tile">
    <div class="tile is-parent is-vertical">
      <div class="tile is-child">
        <h3 class="subtitle is-4 red-text font-is-akzidenz-bold">Special Fries</h3>
      </div>
      <div class="tile is-child">
        <div class="field">
          <div class="control">
            <%= f.fields_for :options do |option| %>
              <%= render "admin/value_meals/options/special_fries", f: option if option.object&.meal_option&.special_fries? %>
            <% end %>
            <div class="links">
              <%= link_to_add_association "Add Special Fries", f, :options, partial: "admin/value_meals/options/special_fries", class: "buttton is-text" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tile">
    <div class="tile is-parent is-vertical">
      <div class="tile is-child">
        <h3 class="subtitle is-4 red-text font-is-akzidenz-bold">Best to Go With</h3>
      </div>
      <div class="tile is-child">
        <div class="field">
          <div class="control">
            <%= f.fields_for :options do |option| %>
              <%= render "admin/value_meals/options/best_with", f: option if option.object&.meal_option&.best_with? %>
            <% end %>
            <div class="links">
              <%= link_to_add_association "Add Best to Go With", f, :options, partial: "admin/value_meals/options/best_with", class: "buttton is-text" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tile">
    <div class="tile is-parent is-vertical">
      <div class="tile is-child">
        <h3 class="subtitle is-4 red-text font-is-akzidenz-bold">Sides</h3>
      </div>
      <div class="tile is-child">
        <div class="field">
          <div class="control">
            <%= f.fields_for :options do |option| %>
              <%= render "admin/value_meals/options/sides", f: option if option.object&.meal_option&.sides? %>
            <% end %>
            <div class="links">
              <%= link_to_add_association "Add Sides", f, :options, partial: "admin/value_meals/options/sides", class: "buttton is-text" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tile">
    <div class="tile is-parent is-vertical">
      <div class="tile is-child">
        <h3 class="subtitle is-4 red-text font-is-akzidenz-bold">Sauces</h3>
      </div>
      <div class="tile is-child">
        <div class="field">
          <div class="control">
            <%= f.fields_for :options do |option| %>
              <%= render "admin/value_meals/options/sauces", f: option if option.object&.meal_option&.sauce? %>
            <% end %>
            <div class="links">
              <%= link_to_add_association "Add Sauce", f, :options, partial: "admin/value_meals/options/sauces", class: "buttton is-text" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= link_to_remove_association "Remove Variance", f, class: "button is-text" %>
</div>
