<div class="tile is-vertical wrapper__content__list is-white-bg">
  <div class="wrapper__content__list__header">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <figure class="image is-32x32">
            <%= image_tag "fries.png" %>
          </figure>
        </div>
        <div class="level-item has-margin-left-15">
          <h1 class="title is-3 is-black-text has-font-akzidenz-bold">Food Menu Entries</h1>
        </div>
        <div class="level-item">
          <%= render "category_menu_bar" %>
        </div>
      </div>
      <div class="level-right">
        <%= form_with url: admin_value_meals_path(category: params[:category] || @default_category), method: :get, remote: true do |f| %>
          <div class="field has-addons">
            <div class="control has-icons-left">
              <%= f.text_field :search, class: "input", placeholder: "Search", data: { trigger: "search" } %>
              <span class="icon is-small is-left">
                <%= fa_icon("search", class: "has-text-grey-light") %>
              </span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%= link_to new_admin_value_meal_path, class: "button save-btn red-background" do %>
      <span class="icon is-small">
        <%= fa_icon "plus", class: "white-text" %>
      </span>
      <span class="white-text font-is-akzidenz-ce-bold">ADD NEW FOOD ENTRY</span>
    <% end%>
  </div>
  <div class="wrapper__content__list__items-table">
    <table class="table is-bordered is-fullwidth is-marginless">
      <thead>
        <tr>
          <th class="is-borderless is-size-6 font-is-akzidenz-regular with-20px-top-bottom-padding">Photo</th>
          <th class="is-borderless is-size-6 font-is-akzidenz-regular with-20px-top-bottom-padding">Name</th>
          <th class="is-borderless is-size-6 font-is-akzidenz-regular with-20px-top-bottom-padding">Status</th>
          <th class="is-borderless is-size-6 font-is-akzidenz-regular with-20px-top-bottom-padding">####</th>
          <th class="is-borderless is-size-6 font-is-akzidenz-regular with-20px-top-bottom-padding">Operations</th>
        </tr>
      </thead>
      <tbody id="paginationList">
        <%= render "value_meal_lists" %>
      </tbody>
    </table>
    <div class="tile with-25px-top-bottom-padding">
      <div class="tile is-parent is-5">
        <div class="tile is-child" id="paginator">
          <%= paginate @value_meals, remote: true  %>
        </div>
      </div>
    </div>
  </div>
</div>
