<div class="row">
  <h1 class="title is-1"><%= @value_meal.name %></h1>
</div>
<div class="row">
  <h1 class="title is-1"><%= @value_meal.alacarte&.name %></h1>
</div>
<div class="row">
  <p>Category: <%= @value_meal.category&.name %></p>
</div>
<div class="row">
  <p>Is Breakfast: <%= @value_meal.is_breakfast %></p>
</div>
<div class="row">
  <p>Schedule: <%= @value_meal.schedule.title %></p>
</div>
<div class="row">
  <figure class="image is-128x128">
    <%= image_tag @value_meal.image_source, alt: "" %>
  </figure>
</div>
<div class="row">
  <p>Order ID: <%= @value_meal.order_id %></p>
</div>
<div class="row">
  <p>Discounted Rice: <%= @value_meal.discounted_rice %></p>
</div>
<div class="row">
  <hr>
  <h3 class="title is-3">Variances</h3>
  <% @value_meal.variances.each.with_index(1) do |variance, i| %>
    <h4 class="title is-4">variance <%= i %></h4>
    <p>Menu Name: <%= variance.menu_name %></p>
    <p>Code Name: <%= variance.code_name %></p>
    <p>Name: <%= variance.name %></p>
    <p>POS Code: <%= variance.poscode %></p>
    <p>Price: <%= variance.price %></p>
    <p>Image:
      <figure class="image is-128x128">
        <%= image_tag variance.image, alt: "" unless variance.image.nil? %>
      </figure></p>
    <p>Group ID: <%= variance.group_id %></p>
    <p>Best With: <%= variance.best_with %></p>
    <div class="row">
      <h3 class="title is-3">Options</h3>
      <% variance.options.each.with_index(1) do |option, i| %>
        <h4 class="title is-4">Option <%= i %></h4>
        <p>Meal Option: <%= option.meal_option.name %></p>
        <p>Section: <%= option.section.title %></p>
      <% end %>
    </div>
    <hr>
  <% end %>
</div>

<%= link_to "Edit", edit_admin_value_meal_path %> <br>
<%= link_to "Delete", admin_value_meal_path(@value_meal), method: :delete %>
