$(document).on("turbolinks:load", function (){
  function updateProductType (type, field) {
    $(field).val(type)
  }

  $(document).on("change", "*[data-select='products']",function () {
    // dynamically populate select box
    var product_type = this.value
    var parent = $(this).closest(".control")

    var hidden_field = $(parent).next().find("input:hidden");
    updateProductType(product_type, hidden_field)

    var dropdown = $(parent).next().find("select");
    dropdown.children().remove()
    $.ajax({
      type: 'GET',
      url: "<%= Rails.application.routes.url_helpers.fetch_products_by_type_admin_products_path %>",
      data: { type: product_type },
      success: function(data) {
        products = data.products
        $.each(products, function (k, v) {
          $(dropdown).append($("<option></option>").attr("value", v.id).text(v.name))
        })
      },
      error: function(error) {
        console.log(error)
      }
    });
  })

  function imagePreview (uploader, container, type) {
    var files = uploader.target.files;
    var reader = new FileReader();
    reader.onload = function(file) {
      if(type == "image_tag") {
        $(container).attr("src", file.target.result)
      } else {
        $(container)[0].style.backgroundImage = 'url('+file.target.result+')'
      }
    }
    reader.readAsDataURL(files[0]);
  }

  $("[data-uploader]").on("change", function (e) {
    var photo_preview = $("[data-container = 'image']");
    imagePreview(e, photo_preview, "image_tag")
  })

  $("[data-uploader='avatar']").on("change", function (e) {
    var photo_preview = $("[data-preview = 'avatar']");
    imagePreview(e, photo_preview, "image_bg")
  })

  $("*[data-image='layout']").on("change", function (e) {
    var photo_preview = $(this).prev()
    imagePreview(e, photo_preview, "image_tag")
  })

  $("*[data-layout]").on("click", function () {
    $("*[data-layout]").addClass("has-3-opacity")
    $(this).removeClass("has-3-opacity")
    id = $(this).data("id")
    var input = $("#sequence_input")
    var header = $("#form_header")
    var submitBtn = $("#submit_btn")
    $(input).val(id)
    $(header).html("Panel" + " " + id )
    $(submitBtn).removeClass("is-invisible")
  })

  $("#custom_order_btn").on("click", function (e) {
    e.preventDefault()
    var input = $("#sequence_input")
    var submitBtn = $("#submit_btn")
    $(input).removeClass("is-invisible")
    $(input).val("")
    $("*[data-layout]").addClass("has-3-opacity")
    $(submitBtn).removeClass("is-invisible")
  })

  $("#sequence_input").keyup(function(){
    val = $(this).val()
    var header = $("#form_header")
    $(header).html("Panel" + " " + val )
  })

  window.initMap = function() {
    var input = $("#address")
    var lat = $(input).data("lat")
    var lng = $(input).data("lng")
    var defaultLatLng = {lat: parseFloat(lat || "14.603057"), lng: parseFloat(lng || "121.091960") };
    var map = new google.maps.Map(document.getElementById('map'), {
      center: defaultLatLng,
      zoom: 13,
      mapTypeId: 'roadmap'
    });
    var searchBox = new google.maps.places.SearchBox(input[0]);

    map.addListener('bounds_changed', function() {
      searchBox.setBounds(map.getBounds());
    });

    google.maps.event.addListener(map, 'click', function(event) {
      placeMarker(event.latLng);
    });

    var marker;
    var markers = [];
    var geocoder = new google.maps.Geocoder();

    marker = new google.maps.Marker({
      position: defaultLatLng,
      map: map
    });

    function clearMarker(){
      markers.forEach(function(marker) {
        marker.setMap(null);
      });
    }

    function placeMarker(location) {
        clearMarker();
        if(marker){
            marker.setPosition(location);
        }else{
            marker = new google.maps.Marker({
                position: location,
                map: map
            });
        }
        getAddress(location);
    }

    function getAddress(latLng) {
      geocoder.geocode( {'latLng': latLng},
      function(results, status) {
        if(status == google.maps.GeocoderStatus.OK) {
          if(results[0]) {
            $(input).val(results[0].formatted_address)
          }
          else {
            $(input).val("No results")
          }
        }
        else {
          $(input).val("Unable to find location")
        }
      });
    }

    searchBox.addListener('places_changed', function() {
      var places = searchBox.getPlaces();

      if (places.length == 0) {
        return;
      }
      clearMarker();
      var bounds = new google.maps.LatLngBounds();
      places.forEach(function(place) {
        if (!place.geometry) {
          console.log("Returned place contains no geometry");
          return;
        }
        markers.push(new google.maps.Marker({
          map: map,
          title: place.name,
          position: place.geometry.location
        }));

        if (place.geometry.viewport) {
          bounds.union(place.geometry.viewport);
        } else {
          bounds.extend(place.geometry.location);
        }
      });
      map.fitBounds(bounds);
    });

  }

  $("[data-input='tag']").tagsInput({
    width: 'auto',
    delimiter: [',']
  });

  $(document).on("change", "*[data-select='size']",function () {
    // dynamically populate select box
    var size = this.value
    var type = $(this).data("type")
    var parent = $(this).closest(".level-item")

    var dropdown = $(parent).next().find("select");
    dropdown.children().remove()
    $.ajax({
      type: 'GET',
      url: "<%= Rails.application.routes.url_helpers.fetch_sorted_meals_admin_meal_options_path %>",
      data: { type: type, size: size },
      success: function(data) {
        meals = data.meals
        $.each(meals, function (k, v) {
          $(dropdown).append($("<option></option>").attr("value", v.id).text(v.name))
        })
      },
      error: function(error) {
        console.log(error)
      }
    });
  })

  $(document).on("change", "[data-select='classification']",function () {
    var val = this.value
    var container = $("#size-selection-container")
    $(container).addClass("is-invisible")
    if(val == "Drink" || val == "Fries" || val == "Special Fries") {
      $(container).removeClass("is-invisible")
    }
  })

  $("*[data-featured='meal']").on("change", function() {
    var featured_url = $(this).data("featured-url");
    var unfeatured_url = $(this).data("unfeatured-url");
    var is_checked = $(this).is(":checked")
    var label = $(this).next()
    var type;
    var url;
    if(is_checked) {
      type = "POST"
      url = featured_url
      $(label).addClass("has-light-green-text")
    }else{
      type = "DELETE"
      url = unfeatured_url
      $(label).removeClass("has-light-green-text")
      $(label).addClass("red-text")
    }
    $.ajax({
      type: type,
      url: url,
      success: function(response) {
        if(response.success) {
          sweetAlert("SUCCESS", response.message, "success");
        }else{
          sweetAlert("ERROR", response.message, "error");
        }
      },
      error: function(xhr) {
        sweetAlert("ERROR", "Something went wrong", "error");
      }
    });
  });
})
