if(window.google){
  initMap();
} else{
  $.ajax("https://maps.googleapis.com/maps/api/js?key=" + "<%= ENV['GOOGLEMAP_API_KEY'] %>" + "&libraries=places&callback=initMap", {
    crossDomain: true,
    dataType: 'script'
  });
}
