<%= form_with model: [:admin, @category], local: true do |f| %>
  <%= render "shared/form_errors", object: @category %>
  <div class="tile">
    <div class="tile is-parent is-vertical">
      <div class="field">
        <div class="control">
          <%= f.text_field :name, class: "input has-no-top-side-border is-shadowless is-radiusless is-paddingless", placeholder: "Title" %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.text_field :sequence_id, class: "input has-no-top-side-border is-shadowless is-radiusless is-paddingless", placeholder: "Order" %>
        </div>
      </div>
      <div class="field">
        <input id="isActive" type="checkbox" name="category[is_active]" class="switch is-rtl is-rounded is-success" <%= "checked" if @category.is_active %> data-checkbox="switch">
        <label for="isActive">Active</label>
      </div>
      <br>
      <div class="field">
        <div class="control">
          <%= f.submit "SAVE", class: "save-btn white-text has-195px-width button red-background" %>
        </div>
      </div>
    </div>
    <div class="tile is-parent is-vertical"></div>
  </div>
<% end %>
