<% @featured_meals.each do |featured_meal| %>
  <tr>
    <td>
      <figure class="image is-64x64">
        <%= image_tag featured_meal.image_source, alt: "" %>
      </figure>
    </td>
    <td><%= featured_meal.name %></td>
    <td><%= generate_status(active: featured_meal.active_at) %></td>
  </tr>
<% end %>
