<div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child notification is-primary">
      <div class="content">
        <p class="title">Product Changelog</p>
        <div class="content">
          <p><span class="is-italic">(11/13/17)</span> Added "Crabby Patty"</p>
          <p><span class="is-italic">(10/12/17)</span> Removed "Soda"</p>
          <p><span class="is-italic">(07/12/17)</span> Added "Mogu Mogu"</p>
          <p><span class="is-italic">(06/12/17)</span> Added "Cheese"</p>
          <p><span class="is-italic">(05/12/17)</span> Removed "Aegis"</p>
          <p><span class="is-italic">(05/12/17)</span> Removed "Iron Talon"</p>
        </div>
      </div>
    </article>
  </div>
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-info">
          <p class="title">Alacartes</p>
          <p class="subtitle"><%= @alacartes_count %></p>
        </article>
        <article class="tile is-child notification is-success">
          <p class="title">Value Meals</p>
          <p class="subtitle"><%= @value_meals_count %></p>
        </article>
        <article class="tile is-child notification is-warning">
          <p class="title">Meal Options</p>
          <p class="subtitle"><%= @meal_options_count %></p>
        </article>
      </div>
    </div>
  </div>
</div>
