@import "bulma/utilities/initial-variables";
@import "bulma/utilities/functions";
@import "utils/colors";

// TODO : Customize everything about bulma here...
// reference : https://bulma.io/documentation/overview/customize/
$red: #ce2127;
$primary: $red;
$navbar-item-color: $default-white;
$navbar-item-hover-color: $default-yellow;
$navbar-item-active-color: $default-yellow;
$menu-item-color: $default-white;
$menu-item-hover-color: $default-yellow;
$menu-item-hover-background-color: $default-gray;
$section-padding: 1.7rem 0;
$menu-item-active-background-color: $default-gray;
$menu-item-active-color: $default-yellow;

@import "bulma";
