@import 'utils/colors';
@import 'utils/mixins';
@import 'utils/md_fonts';
@import 'utils/modifiers';

// Table
.table td,
.table th { vertical-align: middle; }

// Layout
* {
  @extend %font-is-akzidenz-roman;
  @extend %is-black-text;
}

.flex,
%flex { display: flex; }

.nav-set-height { height: 85px; }

.nav-image {
  height: 57px;
  margin-right: 95px;
  margin-top: 16px;
  width: 198px;
}

// scss-lint:disable ImportantRule
.active-meal-menu {
  background-color: $default-red !important; // Override Bulma default style
// scss-lint:enable ImportantRule

  &::after {
    background-color: $default-red;
    bottom: -21px;
    color: $default-red;
    content: ' ';
    height: 21px;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

.wrapper__content__list {
  width: 100%;
  &__form { padding: 56px 90px; }
  &__header {
    @extend %is-light-gray-bg;
    padding: 20px 23px;

    &--white-bg { @extend %is-white-bg; }
  }

  &__items-table {
    padding: 0 23px;
  }

  &__items { overflow: hidden; }
}

.wrapper__content__list__items {
  &--with-specific-width { min-width: 30%; }

  &__tile {
    margin-bottom: .7rem;
    margin-right: .7rem;

    &--white-bg { @extend %is-white-bg; }

    &__content { padding: 10px 20px; }

    &__coupon { padding: 10px 20px; }
  }
}

.wrapper__content__list__items__tile__content {
  &--header {
    height: 80px;
    &--light-gray-bg { background-color: $default-light-gray; }
  }

  &--users {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  &--with-bottom-border { border-bottom: 2px solid
  $default-light-gray; }

  &--coupons { justify-content: center; }

  &__product {
    &__name { margin-left: 12px; }
  }
}

.wrapper {
  &--flex {
    @extend %flex;
  }

  &__sidenav {
    margin-right: 10px;
  }

  &__content {
    @extend %flex;
    min-height: calc(100vh - 140px);
    width: 100%;

    &__list { @extend %flex; }
  }
}

.wrapper__content__list__items__tile__content__coupons {
  &__image-container {
    @include background-style();
    height: 180px;
    margin-bottom: 20px;
    min-width: 20vw;
    padding: 10px;
    &:last-of-type { margin-bottom: 0; }
  }
}

.menu .menu-list .menu-item {
  &--side {
    background-color: $default-gray;
    display: flex;
    flex-direction: column;
    font-size: .7rem;
    font-weight: bold;
    height: 107px;
    justify-content: center;
    margin-bottom: .4rem;
    text-align: center;
    width: 107px;

    &__icon {
      align-self: center;
      height: 32px;
      margin-bottom: 11px;
    }
  }
}

.table {
  .no-border { border: 0; }

  .centered {
    text-align: center;
    vertical-align: middle;
  }

  .image-container {
    @include background-style();
    height: 80px;
    width: 100px;
  }
}

.sidenav { width: 110px; }

// scss-lint:disable ImportantRule
.tile.is-vertical > .tile.is-child:not(:last-child) {
  margin-bottom: .7rem !important; // override default setting for tile
}
// scss-lint:enable ImportantRule

.pagination {
  .page {
    &.current { @extend %red-text; }

    a { @extend %has-gray-text; }
  }

  .next,
  .last,
  .prev,
  .first {
    a { @extend %red-text; }
  }
}

.avatar-preview-container {
  @extend %is-light-gray-bg;
  @include background-style();
  border-radius: 100%;
  height: 100px;
  width: 100px;
}

#map {
  height: 400px;
  width: 100%;
}

.app-image {
  height: 204px;
  width: 361px;
}

.web-image {
  height: 204px;
  width: 576px;
}

.layout-image-container {
  @include background-style();
  &:hover { opacity: 1; }
}

.layout-sequence-number {
  @extend %red-text;
  @extend %is-white-bg;
  border: 2px solid $default-red;
  border-radius: 100%;
  height: 25px;
  padding: 2px;
  width: 25px;
}
