@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {
  .wrapper__content__list__items__tile {
    &--coupons {
      height: 67.9%;
    }
  }

  .wrapper__content__list__items__tile__content__coupons {
    &__image-container {
      height: 216px;
      min-width: 20vw;
    }
  }

  .wrapper__content__list__items__tile {
    &--orders {
      height: 516px;
    }
  }
}

@media screen
and (min-device-width: 1800px)
and (-webkit-min-device-pixel-ratio: 1) {
  .wrapper__content__list__items__tile {
    &--coupons {
      height: 65%;
    }
  }

  .wrapper__content__list__items__tile__content__coupons {
    &__image-container {
      width: 25vw;
    }
  }

  .wrapper__content__list__items__tile {
    &--orders {
      height: 468px;
    }
  }
}
