<h1 class="title is-1">Static Pages</h1>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Description</th>
      <th>Last updated</th>
    </tr>
  </thead>
  <tbody>
    <td>id</td>
    <td>Terms and Condition</td>
    <td>Lorem ipsum dolor sit amet</td>
    <td><%= Date.today %></td>
  </tbody>
</table>
