<%= form_with model: [:admin, @user], local: true do |f| %>
  <%= render "shared/form_errors", object: @user %>
  <div class="tile">
    <div class="tile is-parent is-vertical is-5">
      <div class="field has-text-centered">
        <label class="button avatar-preview-container" for="avatar" style="background-image: url(<%= @user.avatar.url %>)" data-preview="avatar">
          <span class="icon is-small">
            <%= fa_icon "camera", class: "is-size-4 has-gray-text" %>
          </span>
        </label>
        <div class="control">
          <%= f.file_field :avatar, id: "avatar", class: "is-invisible", "data-uploader" => "avatar"  %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.text_field :first_name, class: "input has-no-top-side-border is-shadowless is-radiusless is-paddingless", placeholder: "First Name" %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.text_field :last_name, class: "input has-no-top-side-border is-shadowless is-radiusless is-paddingless", placeholder: "Last Name" %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.text_field :email, class: "input has-no-top-side-border is-shadowless is-radiusless is-paddingless", placeholder: "Email" %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.password_field :password, class: "input has-no-top-side-border is-shadowless is-radiusless is-paddingless", placeholder: "Password" %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.password_field :password_confirmation, class: "input has-no-top-side-border is-shadowless is-radiusless is-paddingless", placeholder: "Confirm Password" %>
        </div>
      </div>
      <br>
      <div class="field">
        <div class="control">
          <%= f.submit "SAVE", class: "save-btn has-195px-width button red-background" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
