<% @alacartes.each do |alacarte| %>
  <tr>
    <td>
      <figure class="image is-64x64">
        <%= image_tag alacarte.image_source, alt: "" %>
      </figure>
    </td>
    <td><%= alacarte.name %></td>
    <td><%= alacarte.description %></td>
    <td>
      <div class="tile is-vertical">
        <%= link_to edit_admin_alacarte_path(alacarte), class: "edit-btn is-size-7" do %>
          <span class="icon is-small">
            <%= fa_icon "edit", class: "has-light-green-text" %>
          </span>
          EDIT
        <% end %>
        <%= link_to admin_alacarte_path(alacarte), class: "delete-btn is-size-7", method: :delete do %>
          <span class="icon is-small">
            <%= fa_icon "trash", class: "red-text" %>
          </span>
          DELETE
        <% end %>
        <div class="field">
          <input id='<%= "switch_featured_#{alacarte.id}" %>' type="checkbox"
          name="switchRoundedSuccess" class="switch is-rounded is-success"
          data-featured-url="<%= set_meal_as_featured_admin_product_path(alacarte.id, type: "Alacarte") %>"
          data-unfeatured-url="<%= set_meal_as_unfeatured_admin_product_path(alacarte.id, type: "Alacarte") %>"
          data-featured="meal" <%= "checked" if alacarte.featured_meal %>>
          <label for='<%= "switch_featured_#{alacarte.id}" %>',
            class='<%= alacarte.featured_meal ? "has-light-green-text" : "red-text" %>', id: "switch_featured">
            Featured
          </label>
        </div>
      </div>
    </td>
  </tr>
<% end %>
