<%= form_with model: [:admin, @alacarte], local: true do |f| %>
  <%= render "shared/form_errors", object: @alacarte %>
  <div class="tile">
    <div class="tile is-parent is-vertical">
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <%= f.text_field :name, class: "input has-no-top-side-border is-shadowless is-radiusless is-paddingless" %>
        </div>
      </div>
      <div class="field">
        <label class="label">Description</label>
        <div class="control">
          <%= f.text_area :description, class: "textarea" %>
        </div>
      </div>
      <div class="field">
        <label class="label">Discounted Rice</label>
        <div class="control">
          True <%= f.radio_button :discounted_rice, true %>
          False <%= f.radio_button :discounted_rice, false %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="label">Categories</label>
          <%= f.fields_for :product_categories do |product_category| %>
            <%= render "shared/admin/product_categories_fields", type: "Alacarte", f: product_category %>
          <% end %>
          <div class="links">
            <%= link_to_add_association "Add Product Category", f, :product_categories, partial: "shared/admin/product_categories_fields", class: "button is-text", render_options: { locals: { type: "Alacarte" } } %>
          </div>
        </div>
        <hr>
      </div>
      <div class="field">
        <label class="label">Schedule</label>
        <div class="control">
          <div class="select">
            <%= f.select :schedule_id, options_for_select(schedules.collect{ |a| [a.title, a.id] }) %>
          </div>
        </div>
      </div>
    </div>
    <div class="tile is-parent has-margin-left-30">
      <div class="field">
        <figure class="image is-4by3">
          <%= image_tag @alacarte.image_source.url, data: { container: "image" } %>
          <%= f.file_field :image_source, id: "photo", data: { image: "layout" }, class: "is-invisible" %>
        </figure>
        <br>
        <div class="control">
          <label class="label button has-yellow-bg" for="photo" id="uploader-label">
            <%= photo_upload_label_for(photo_is_present: @alacarte.image_source.present?) %>
          </label>
          <p class="is-size-7 has-text-grey">Please upload a square image, preferrably 2000x2000</p>
        </div>
      </div>
    </div>
  </div>
  <div class="level is-marginless is-light-gray-bg with-20px-padding">
    <div class="level-left">
      <div class="level-item">
        <h3 class="subtitle is-4 font-is-akzidenz-bold">Variances</h3>
      </div>
    </div>
  </div>
  <br>
  <div class="field">
    <div class="control">
      <%= f.fields_for :variances do |variance| %>
        <%= render "variance_fields", f: variance %>
      <% end %>
      <div class="links">
        <%= link_to_add_association "Add Variance", f, :variances, class: "button is-text" %>
      </div>
    </div>
    <hr>
  </div>
  <div class="field">
    <div class="control">
      <%= f.submit "SAVE", class: "save-btn white-text has-195px-width button red-background" %>
    </div>
  </div>
<% end %>
