<div class="nested-fields">
  <div class="field">
    <label class="label">Meal Option</label>
    <div class="control">
      <div class="select">
        <%= f.select :choice_id, options_for_select(meal_options.collect{ |a| [a.name, a.id] }) %>
      </div>
    </div>
  </div>
  <div class="field">
    <label class="label">Section</label>
    <div class="control">
      <div class="select">
        <%= f.select :section_id, options_for_select(sections.collect{ |a| [a.title, a.id] }) %>
      </div>
    </div>
  </div>
  <%= link_to_remove_association "Remove Meal Option", f, class: "button is-text" %>
</div>
