<div class="nested-fields">
  <div class="tile">
    <div class="tile is-parent is-vertical">
      <div class="field">
        <div class="control">
          <%= f.text_field :menu_name, class: "input has-no-top-side-border is-shadowless is-radiusless is-paddingless", placeholder: "Menu Name" %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.text_field :name, class: "input has-no-top-side-border is-shadowless is-radiusless is-paddingless", placeholder: "Name" %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.text_field :price, class: "input has-no-top-side-border is-shadowless is-radiusless is-paddingless", placeholder: "Price" %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.text_field :poscode, class: "input has-no-top-side-border is-shadowless is-radiusless is-paddingless", placeholder: "POS code" %>
        </div>
      </div>
    </div>
    <div class="tile is-parent has-margin-left-30">
      <div class="field">
        <figure class="image is-4by3">
          <%= image_tag f.object.image_source.url, data: { container: "image" } %>
          <%= f.file_field :image_source, id: "variance_photo", data: { image: "layout" }, class: "is-invisible"%>
        </figure>
        <br>
        <div class="control">
          <label class="label button has-yellow-bg" for="variance_photo" id="uploader-label">
            <%= photo_upload_label_for(photo_is_present: f.object.image_source.present?) %>
          </label>
          <p class="is-size-7 has-text-grey">Please upload a square image, preferrably 2000x2000</p>
        </div>
      </div>
    </div>
  </div>
  <%= link_to_remove_association "Remove Variance", f, class: "button is-text" %>
</div>
