<div class="row">
  <h1 class="title is-1"><%= @alacarte.name %></h1>
</div>
<div class="row">
  <p>Category: <%= @alacarte.category&.name %></p>
</div>
<div class="row">
  <p>Description: <%= @alacarte.description %></p>
</div>
<div class="row">
  <p>Schedule: <%= @alacarte.schedule.title %></p>
</div>
<div class="row">
  <figure class="image is-128x128">
    <%= image_tag @alacarte.image_source, alt: "" %>
  </figure>
</div>
<div class="row">
  <p>Group ID: <%= @alacarte.group_id %></p>
</div>
<div class="row">
  <p>Product Order ID: <%= @alacarte.product_order_id %></p>
</div>
<div class="row">
  <p>Discounted Rice: <%= @alacarte.discounted_rice %></p>
</div>
<div class="row">
  <hr>
  <h3 class="title is-3">Variances</h3>
  <% @alacarte.variances.each.with_index(1) do |variance, i| %>
    <h4 class="title is-4">variance <%= i %></h4>
    <p>Menu Name: <%= variance.menu_name %></p>
    <p>Code Name: <%= variance.code_name %></p>
    <p>Name: <%= variance.name %></p>
    <p>POS Code: <%= variance.poscode %></p>
    <p>Price: <%= variance.price %></p>
    <p>Image:
      <figure class="image is-128x128">
        <%= image_tag variance.image_source.url, alt: "" %>
      </figure></p>
    <p>Group ID: <%= variance.group_id %></p>
    <p>Best With: <%= variance.best_with %></p>
    <div class="row">
      <h3 class="title is-3">Options</h3>
      <% variance.options.each.with_index(1) do |option, i| %>
        <h4 class="title is-4">Option <%= i %></h4>
        <p>Meal Option: <%= option.meal_option.name %></p>
        <p>Section: <%= option.section.title %></p>
      <% end %>
    </div>
    <hr>
  <% end %>
</div>

<%= link_to "Edit", edit_admin_alacarte_path %> <br>
<%= link_to "Delete", admin_alacarte_path(@alacarte), method: :delete %>
