<nav class="navbar nav-set-height is-light-gray-bg">
  <div class="container is-fluid">
    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <%= tabs_tag namespace: :cms, builder: MenuTabBuilder, open_tabs: { class: "navbar-start" } do |tab| %>
        <%= tab.home "Home Page", admin_home_contents_path, class: "navbar-item font-is-akzidenz-regular has-gray-text", nav_for: "meals" %>
        <%= tab.notification "Notifications", admin_notifications_path, class: "navbar-item font-is-akzidenz-regular has-gray-text", nav_for: "meals" %>
        <%= tab.promo "Promos", admin_promos_path, class: "navbar-item font-is-akzidenz-regular has-gray-text", nav_for: "meals" %>
        <%= tab.category "Category", admin_categories_path, class: "navbar-item font-is-akzidenz-regular has-gray-text", nav_for: "meals" %>
        <%= tab.user_manual "User Instructions", admin_user_manuals_path, class: "navbar-item font-is-akzidenz-regular has-gray-text", nav_for: "meals" %>
      <% end %>
    </div>
  </div>
</nav>
