<nav class="navbar nav-set-height is-transparent red-background">
  <div class="container is-fluid">
    <div class="navbar-brand is-marginless">
      <%= link_to root_path do %>
        <%= image_tag "delivery.png", alt: "McDo 2018 CMS", class: "nav-image" %>
      <% end %>
      <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <%= tabs_tag builder: MenuTabBuilder, open_tabs: { class: "navbar-start" } do |tab| %>
        <%= tab.featured_meals "Featured Meals", featured_meals_admin_products_path, class: "navbar-item font-is-akzidenz-regular" %>
        <%= tab.menu_items "Food Menu Items", admin_variances_path, class: "navbar-item font-is-akzidenz-regular" %>
        <%= tab.alacarte "Alacarte", admin_alacartes_path, class: "navbar-item font-is-akzidenz-regular" %>
        <%= tab.menu_entries "Food Menu Entries", admin_value_meals_path, class: "navbar-item font-is-akzidenz-regular" %>
        <%= tab.with_items "With Items", admin_meal_options_path, class: "navbar-item font-is-akzidenz-regular" %>
        <%= tab.cms "CMS", admin_home_contents_path, class: "navbar-item font-is-akzidenz-regular" %>
        <%= tab.coupon "Coupons", admin_coupons_path, class: "navbar-item font-is-akzidenz-regular" %>
        <%= tab.users "Users", admin_users_path, class: "navbar-item font-is-akzidenz-regular" %>
        <%= tab.store "Stores", admin_branches_path, class: "navbar-item font-is-akzidenz-regular" %>
      <% end %>
      <div class="navbar-end">
        <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "navbar-item font-is-akzidenz-regular" %>
      </div>
    </div>
  </nav>
</div>
