<div class="nested-fields">
  <div class="field">
    <div class="control">
      <%= f.hidden_field :categorizeable_type, value: type %>
    </div>
    <div class="level">
      <div class="level-left">
        <div class-"level-item">
          <div class="control">
            <div class="select">
              <%= f.select :category_id, options_for_select(categories.collect{ |a| [a.name, a.id] }, f.object&.category_id), { include_blank: 'Select Category' } %>
            </div>
          </div>
        </div>
        <div class="level-item">
          <%= link_to_remove_association "Remove Product Category", f, class: "button is-text" %>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
