<div class="menu">
  <%= tabs_tag builder: MenuTabBuilder, open_tabs: { class: "menu-list" } do |tab| %>
  <%= tab.menu_items "Food Items", admin_variances_path, class: "menu-item menu-item--side font-is-akzidenz-regular", tab_type: "menu", image: asset_path("burger.png") %>
  <%= tab.menu_entries "Food Entries", admin_value_meals_path, class: "menu-item menu-item--side font-is-akzidenz-regular", tab_type: "menu", image: asset_path("meal.png") %>
  <%= tab.with_items "With Items", admin_meal_options_path, class: "menu-item menu-item--side font-is-akzidenz-regular", tab_type: "menu", image: asset_path("fries.png") %>
  <%= tab.cms "CMS", admin_home_contents_path, class: "menu-item menu-item--side font-is-akzidenz-regular", tab_type: "menu", image: "cms.png" %>
  <%= tab.coupon "Coupons", admin_coupons_path, class: "menu-item menu-item--side font-is-akzidenz-regular", tab_type: "menu", image: "coupon.png" %>
  <%= tab.users "Users", admin_users_path, class: "menu-item menu-item--side font-is-akzidenz-regular", tab_type: "menu", image: asset_path("user.png") %>
  <%= tab.store "Stores", admin_branches_path, class: "menu-item menu-item--side font-is-akzidenz-regular", tab_type: "menu", image: asset_path("store.png") %>
  <% end %>
</div>
