<h1 class="title is-1">Coupon Utilizations</h1>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Transaction #</th>
      <th>Customer Name</th>
      <th>Coupon ID</th>
      <th>Order Details</th>
      <th>Branch Owner</th>
      <th>Time and Date</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <td>id</td>
    <td>12321321</td>
    <td>Genin Uchiha</td>
    <td>123</td>
    <td>Burger with Fries</td>
    <td>Uchiha Sasuke</td>
    <td><%= Date.today %></td>
    <td>Redeemed</td>
  </tbody>
</table>
