<% @coupons.each do |coupon| %>
  <tr>
    <td><%= coupon.name %></td>
    <td><%= coupon.poscode %></td>
    <td><%= coupon.discount %></td>
    <td><%= coupon.usage_count %></td>
    <td>
      <div class="tile is-vertical">
        <%= link_to edit_admin_coupon_path(coupon), class: "edit-btn is-size-7" do %>
          <span class="icon is-small">
            <%= fa_icon "edit", class: "has-light-green-text" %>
          </span>
          EDIT
        <% end %>
        <%= link_to admin_coupon_path(coupon), class: "delete-btn is-size-7", method: :delete do %>
          <span class="icon is-small">
            <%= fa_icon "trash", class: "red-text" %>
          </span>
          DELETE
        <% end %>
      </div>
    </td>
  </tr>
<% end %>
