<%= form_with model: [:admin, @coupon], local: true do |f| %>
  <%= render "shared/form_errors", object: @coupon %>
  <div class="tile">
    <div class="tile is-parent is-vertical">
      <div class="field">
        <div class="control">
          <%= f.text_field :name, class: "input has-no-top-side-border is-shadowless is-radiusless is-paddingless", placeholder: "Name" %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.text_field :description, class: "input has-no-top-side-border is-shadowless is-radiusless is-paddingless", placeholder: "Description" %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.text_field :poscode, class: "input has-no-top-side-border is-shadowless is-radiusless is-paddingless", placeholder: "POS Code" %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.number_field :usage_count, class: "input has-no-top-side-border is-shadowless is-radiusless is-paddingless", placeholder: "Usage Count" %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.number_field :discount, class: "input has-no-top-side-border is-shadowless is-radiusless is-paddingless", placeholder: "Discount" %>
        </div>
      </div>
      <br>
      <div class="field">
        <div class="control">
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <label class="label">Category</label>
              </div>
              <div class="level-item">
                <div class="select">
                  <%= f.select :classification, options_for_select(coupon_classifications, @coupon.classification) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <label class="label">Type</label>
              </div>
              <div class="level-item">
                <div class="select">
                  <%= f.select :usage_type, options_for_select(coupon_types, @coupon.usage_type) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <br>
        <div class="field">
          <label class="label">Products</label>
          <div class="control">
            <%= f.fields_for :products do |product| %>
              <%= render "product_fields", f: product if product.object.persisted? %>
            <% end %>
            <hr>
            <div class="links">
              <%= link_to_add_association "Add Product", f, :products, partial: "product_fields", class: "button is-text" %>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="field">
        <div class="control">
          <%= f.submit "SAVE", class: "save-btn white-text has-195px-width button red-background" %>
        </div>
      </div>
      </div>
      <div class="tile is-parent has-margin-left-30">
        <div class="field">
          <figure class="image is-4by3">
            <%= image_tag @coupon.image_source.url, data: { container: "image" } %>
          </figure>
          <br>
          <div class="control">
            <label class="label button has-yellow-bg" for="photo" id="uploader-label">
              <%= photo_upload_label_for(photo_is_present: @coupon.image_source.present?) %>
            </label>
            <p class="is-size-7 has-text-grey">Please upload a square image, preferrably 2000x2000</p>
            <%= f.file_field :image_source, id: "photo", data: { uploader: "" }, class: "is-invisible"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
