<div class="nested-fields">
  <div class="field">
    <label class="label">Main Product</label>
    <div class="control">
      <div class="control">
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <label class="label">Product Type</label>
            </div>
            <div class="level">
              <div class="select">
                <%= select_tag :options, options_for_select(product_categories.collect{ |k,v| [v, k] }), data: { select: "products" } %>
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>
      <div class="select" id="value_meals">
        <%= f.hidden_field :productable_type, value: meal_type(type: "value_meal") %>
        <%= f.select :productable_id, options_for_select(value_meals.collect{ |m| [m.name, m.id] }), data: { select: "products" } %>
      </div>
      <%= f.fields_for :sub_products do |product| %>
        <%= render "sub_product_fields", f: product if product.object.persisted? %>
      <% end %>
      <hr>
      <div class="links">
        <%= link_to_add_association "Add Sub Product", f, :sub_products, partial: "sub_product_fields", class: "button is-text" %>
      </div>
    </div>
  </div>
  <%= link_to_remove_association "Remove Product", f ,class: "button is-text" %>
</div>
