<div class="nested-fields">
  <div class="field">
    <div class="control">
      <%= f.hidden_field :productable_type, value: meal_type(type: "alacarte") %>
    </div>
    <label class="label">Sub Product</label>
    <div class="control">
      <div class="select">
        <%= f.select :productable_id, options_for_select(alacartes.collect{ |m| [m.name, m.id] }) %>
      </div>
    </div>
  </div>
  <%= link_to_remove_association "Remove Sub Product", f, class: "button is-text" %>
  <hr>
</div>
