<div class="tile is-vertical wrapper__content__list is-white-bg">
  <div class="wrapper__content__list__header">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <figure class="image is-32x32">
            <%= image_tag "coupon.png" %>
          </figure>
        </div>
        <div class="level-item has-margin-left-15">
          <h1 class="title is-3 is-black-text has-font-akzidenz-bold">COUPONS</h1>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <%= link_to new_admin_coupon_path, class: "button save-btn red-background" do %>
            <span class="icon is-small">
              <%= fa_icon "plus", class: "white-text" %>
            </span>
            <span class="white-text font-is-akzidenz-ce-bold">ADD COUPON</span>
          <% end%>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper__content__list__items-table">
    <table class="table is-bordered is-fullwidth">
      <thead>
        <tr>
          <th class="is-borderless is-size-6 font-is-akzidenz-regular">Name</th>
          <th class="is-borderless is-size-6 font-is-akzidenz-regular">Code</th>
          <th class="is-borderless is-size-6 font-is-akzidenz-regular">Discount</th>
          <th class="is-borderless is-size-6 font-is-akzidenz-regular">Total Usage</th>
          <th class="is-borderless is-size-6 font-is-akzidenz-regular">Operations</th>
        </tr>
      </thead>
      <tbody id="paginationList">
        <%= render "coupon_lists" %>
      </tbody>
    </table>
    <table class="table is-fullwidth">
      <tbody>
        <tr>
          <td colspan="4" id="paginator" class="column">
            <%= paginate @coupons, remote: true  %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
