<div class="tile is-vertical wrapper__content__list is-white-bg">
  <div class="wrapper__content__list__header">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <figure class="image is-32x32">
            <%= image_tag "coupon.png" %>
          </figure>
        </div>
        <div class="level-item">
          <h1 class="title is-3 has-margin-left-30 font-is-akzidenz-bold">Add Coupon</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper__content__list__form">
    <%= render "form" %>
  </div>
</div>
