<%# https://github.com/dansup/bulma-templates/blob/master/templates/login.html %>
<%= render "shared/admin/header" %>
<div class="section is-black-bg">
  <div class="container is-fluid">
    <%= render "shared/flash" %>
    <div class="wrapper wrapper--flex">
      <% if params[:controller] == "admin" && params[:action] == "index" %>
        <div class="wrapper__sidenav">
          <%= render "shared/admin/side_nav" %>
        </div>
      <% end%>
      <div class="wrapper__content">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
<% parent_layout "base" %>
