<%# https://github.com/dansup/bulma-templates/blob/master/templates/login.html %>
<section class="hero is-primary is-fullheight">
  <%= render("shared/flash") %>
  <div class="hero-head">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
      </div>
    </div>
  </div>
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-3 is-offset-2">
          <figure class="image is-square">
            <%= image_tag 'logo.png' %>
          </figure>
        </div>
        <div class="column is-4">
          <h3 class="title has-text"><%= content_for(:title) %></h3>
          <p class="subtitle has-text"><%= content_for(:subtitle) %></p>
          <br>
          <div class="box">
            <%= yield %>
          </div>
          <p class="has-text">
            <%= render "devise/shared/links" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<% parent_layout "base" %>
