<%= form_with model: [:admin, @upsell], local: true do |f| %>
  <%= render "shared/form_errors", object: @upsell %>
  <div class="field">
    <label class="label">Select Product</label>
    <div class="control">
      <div class="select">
        <%= f.select :alacarte_id, options_for_select(alacartes.collect{ |m| [m.name, m.id] }, @upsell.product&.id) %>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= f.submit "Submit", class: "button is-link" %>
    </div>
  </div>

<% end %>
