<% @upsells.each do |upsell| %>
  <tr>
    <td class="centered">
      <div class="image-container" style="background-image: url(<%=upsell.product.image_source.url %>)">
      </div>
    </td>
    <td class="centered">
        <%= upsell.product&.name %>
      </td>
    <td class="centered"><%= upsell.product&.description %></td>
    <td class="centered">
      <%= link_to "EDIT", edit_admin_upsell_path(upsell) %> <br>
      <%= link_to "DELETE", admin_upsell_path(upsell), method: :delete %>
    </td>
  </tr>
<% end %>
