<div class="level">
  <div class="level-left">
    <div class="level-item">
      <h1 class="title is-marginless is-size-4">Upsells</h1>
  </div>
    <div class="level-item">
      <div class="control">
        <%= link_to "Add New Upsell", new_admin_upsell_path, class: "button is-success" %>
      </div>
    </div>
  </div>
  <div class="level-right">
    <%= form_with url: admin_upsells_path, method: :get, remote: true do |f| %>
      <div class="field has-addons">
        <div class="control has-icons-left">
          <%= f.text_field :search, class: "input", placeholder: "Search", data: { trigger: "search" } %>
          <span class="icon is-small is-left">
            <%= fa_icon("search") %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br>
<table class="table is-bordered">
  <thead>
    <tr>
      <th class="no-border">Photo</th>
      <th class="no-border">Display Name</th>
      <th class="no-border">Description</th>
      <th class="no-border">Operation</th>
    </tr>
  </thead>
  <tbody id="paginationList">
    <%= render "upsell_lists" %>
  </tbody>
</table>
<table class="table is-fullwidth">
  <tbody>
    <tr>
      <td colspan="4" id="paginator" class="column">
        <%= paginate @upsells, remote: true  %>
      </td>
    </tr>
  </tbody>
</table>
